@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  width: 0.25rem; /* Set the width to 0 */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.pagination {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 5px;
}
.active {
  border: 1px solid grey;
  color: darkgray;
  padding: 4px;
}
